<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>    Rise in Revolution  -  Just God Know My Way </h1>
    <header>
        <nav>
            <ul id="nave">
                <li class="grid" class="sppb-btnInicio"><a href="../index.html" >Inicio</a></li>
                <li class="grid" class="sppb-btnDiario"><a href="./daily.html">Reflexión Diaria</a></li>
                <li class="grid" class="sppb-btnCursos"><a href="">     Cursos     </a>
                    <ul>
                        <li><a href="../cursos/beJesus.html"> Un verdadero Seguidor de Jesús</a></li>
                        <li><a href="../cursos/howread.html"> Lectura Eficaz</a></li>
                    </ul> 
                </li>
                <li class="grid" class="sppb-btnVideo"><a href="#">Videos</a></li>
                <li class="grid" class="sppb-btnProducto"><a href="./productos.html">Productos</a></li>
                <!--Contacto y Login-->
                <div class="griddos">
                <li><a  href="./contacto.html">Contactanos</a></li>
                <li><a  href="./logIn.html">Iniciar Sesión</a></li></div>
           </ul>
        </nav>
    </header>
     <!--Hero Image-->
     <footer>
     <section>
        <div class="hero-image">
          <h1> ¿Eres Miembro del Club? Ingresa -</h1>
            <center><img class="alegria" src="../clases/alegria.jpg"></center>
        </div> 


        <div class="Registrarse">
                 <h3>Registrarse</h3>
                
      </div>
      <div><button class="section" >Ingresar</button></div>
  </section>
</footer>

  
</body>
</html>